<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Ask Mastermind</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<!-- Load js dep -->
		<script src="js/lib/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/ws.js"></script>
		<script src="js/ws_client.service.js"></script>
		<script src="https://use.fontawesome.com/b655c1a62f.js"></script>
		<!-- Some css -->
		<style type="text/css">
			.scrollview {
				overflow: auto;
				overflow-x: hidden;
				max-height: 95vh;
			}
			.pointer {
				cursor: pointer;
			}
			.w{
				width: 400px;
			}
		</style>
	</head>
	<!-- appController -->
	<body ng-controller="appController" class="bg-faded">
		<div class="scrollview">
			<div class="row mb-5">
				<div class="col-md-9 col-sm-10 mt-1 ml-3 ">
					<div ng-repeat="item in state.messages track by item.id">
						<div class="mt-4 d-flex flex-row" >
							<div class="mr-2"><img ng-src="../assets/{{item.avatar}}.png" width="48"/></div>
							<div ng-switch="item.avatar">
								<div ng-switch-when="man">
									<div class="text-info">{{item.username}}</div>
									<div>{{item.question}}</div>
								</div>
								<div ng-switch-when="robot">
									<div>
										<div class="text-info">Mastermind</div>
										{{item.answer}}										
										<span ng-if="item.canEdit" ng-click="item.setNewAnswer = true" class="pointer text-danger">
											<i class="fa fa-thumbs-o-down"></i>
										</span>
									</div>
									<input class="form-control w mt-2" ng-if="item.setNewAnswer" ng-model="item.newAnswer" placeholder="Think you know better? Type your answer here" ng-keydown="$event.keyCode === 13 && fixAnswer(item)"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fixed-bottom">
				<input class="form-control" ng-model="state.post.question" placeholder="Type you messsage here..."  ng-keydown="$event.keyCode === 13 && publish(state.post)"/>
			</div>
		</div>
	</body>
</html>
